pandas
astroid
dill
iniconfig
isort
lxml
mccabe
numpy
packaging
pip
platformdirs
pluggy
pylint
pytest
python-dateutil
pytz
six
tomlkit
tzdata 
# would be good to add versions, at least for the top most important packages that are directly used
